<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@800&display=swap" rel="stylesheet">
    <title>Signup page</title>
</head>
<body style="background-color:lightblue">
    <h2 class = "heading">Blog Lite</h2>
    
    <div class = "signupform">
        <form action="/signup"  method= "post"  enctype="multipart/form-data">
        <div class="form-group">
            <label class = "signuptext2">UserName  &nbsp;</label>
            <input type="text" class="form-control" id="login_email" name = "new_username" class = "signuptext2"></input>
          </div>
          <div class="form-group">
            <br><br><br>
            <label class = "signuptext2">Password&ensp;&nbsp;</label>
            <input type="password" class="form-control"  class = "signuptext2" name = "new_password" >

            <br><br><br>
            <label class = "signuptext2">E-mail&ensp;&nbsp;&ensp;&ensp;&ensp; </label>
            <input type="email" class="form-control"  class = "signuptext2" name = "new_email" >


            <br><br><br><br>
            <label class = "signuptext2">Age&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;</label>


            <input type="text" class="form-control"  class = "signuptext2" name = "new_age" >
          </div>
            <br><br><br>
          <label class = "signuptext2">Profile Picture&ensp;&nbsp;</label>


          <input type="file" class="form-control"  class = "signuptext2" name = "image" >
          <br><br><br>
        
        <button  style = "margin-left:18%"type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

</body>
</html>